@import "variants.scss"; 
@import "index.scss";
@import "slider.scss";
@import "advantage.scss";
@import "card.scss";
body {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: $background-color;
}